<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- Segment with anchors -->
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="select">
      <ion-segment-button value="all" checked>
        <ion-icon name="list"></ion-icon>
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="{{typeSaved.icon}}" [disabled]="typeSaved.icon == 'pencil'">
        <ion-icon name="{{typeSaved.icon}}"></ion-icon>
        <ion-label>{{typeSaved.label}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="select">

      <div class="welcome-card" *ngSwitchCase="'all'">

        <ion-searchbar (ionChange)="alterSearch($event)" placeholder="Buscar" showCancelButton="focus" debounce="500">
        </ion-searchbar>

        <ion-list>
          <ion-list-header>
            Resultado:
          </ion-list-header>

          <ion-item *ngFor="let client of clients.value">


            <ion-row>

              <ion-col size="12">
                <ion-label>
                  <h2>
                    <ion-badge color="primary">{{client?.name}}</ion-badge> <br>
                  </h2>
                  <h3>CPF: {{client?.cpf}}</h3>
                  <h3>Data de nascimento {{client?.birthDate | date:'dd/MM/yyyy'}}</h3>
                  <ion-item-divider color="secondary">
                    <ion-label>
                      Endereço
                    </ion-label>
                  </ion-item-divider>
                  <p *ngFor="let address of client.addresses">
                    CEP:{{address.zipCode}}<br>
                    Rua: {{address.street}},
                    {{address.number}} <br>
                    {{address.district}}
                    {{address.city}}-
                    {{address.uf}} <br>
                    Complemento: {{address.complement}} </p>
                </ion-label>
              </ion-col>


              <ion-col size="6">

                <ion-button color="danger" (click)="delete(client.id)">
                  <ion-icon slot="start" name="trash"></ion-icon>
                  Deletar
                </ion-button>
              </ion-col>

              <ion-col size="6">
                <ion-button color="primary" (click)="toUpdate(client)">
                  <ion-icon slot="start" name="pencil"></ion-icon>
                  Atualizar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>



        </ion-list>

      </div>

      <div *ngSwitchCase="'add'">

        <form action="#!" [formGroup]="form">
          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input formControlName="name" placeholder="Digite o nome do cliente"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Data de Nascimento</ion-label>
            <ion-datetime formControlName="birthDate" displayFormat="DD/MM/YYYY"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">CPF</ion-label>
            <ion-input formControlName="cpf" placeholder="Digite o nome do cliente"></ion-input>
          </ion-item>

          <!-- Address ------------------- -->

          <ion-item-divider color="secondary">
            <ion-label>
              Endereço
            </ion-label>
          </ion-item-divider>


          <ion-item>
            <ion-label position="stacked">CEP</ion-label>
            <ion-input formControlName="zipCode" placeholder="58058000" (keyup)="validarCEP($event)" minlength="8"
              maxlength="8"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Rua</ion-label>
            <ion-input formControlName="street"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Número</ion-label>
            <ion-input formControlName="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Bairro</ion-label>
            <ion-input formControlName="district"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Cidade</ion-label>
            <ion-input formControlName="city"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Estado</ion-label>
            <ion-input formControlName="uf"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Complemento</ion-label>
            <ion-input formControlName="complement"></ion-input>
          </ion-item>

          <ion-button color="primary" expand="full" (click)="save()" *ngIf="typeSaved.icon != 'pencil'">
            <ion-icon slot="start" name="save"></ion-icon>
            Salvar
          </ion-button>

          <ion-button color="primary" expand="full" (click)="update()" *ngIf="typeSaved.icon == 'pencil'">
            <ion-icon slot="start" name="save"></ion-icon>
            Atualizar
          </ion-button>
        </form>

      </div>

    </div>

  </div>
</ion-content>
